* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-color: #000;
}

#mundo {
    /* O mundo agora é do tamanho da sua tela */
    width: 100vw;
    height: 100vh;
    background-image: url("grama (1).png");
    background-repeat: repeat; /* Isso faz a grama repetir */
    position: relative;
}

#player {
    width: 64px;
    height: 64px;
    position: absolute;
    /* O boneco fica fixo no centro da tela */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-image: url("personagem 1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}